[Unit]
Description=wgkeepalive
Documentation=https://github.com/RaaLabs/wgkeepalive
After=network-online.target nss-lookup.target
Requires=network-online.target nss-lookup.target

[Service]
ExecStart=/bin/bash -c '/usr/local/wgkeepalive/wgkeepalive'

[Install]
WantedBy=multi-user.target
#Alias=packetcontrol.service